.l-header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    // z-index: 1000;
    background-color: #fff;
    z-index: 1000;



    .bd-grid {
        // max-width: 1200px;
        // margin-left: auto;
        // margin-right: auto;

        div {
            .nav__logo {
                font-size: 0.93em;
                font-weight: 900;
                color: #000;
            }
        }

        #nav-menu {
            .nav__close {
                text-align: right;
            }

            .nav__list {
                margin: 0;
                padding: 0;
                list-style: none;
                text-align: center;
                padding-top: 2.5rem;
            }

            .nav__close-icon {
                font-size: 1.5rem;
                cursor: pointer;
            }

            .nav__item {
                margin-bottom: 2.5rem;

                a {
                    text-decoration: none;
                }

                .nav__link {
                    padding: .5rem;
                    color: #000;
                    text-transform: uppercase;

                    &:hover {
                        color: #575757;
                    }
                }


                .fa-phone-alt {}
            }

            // .mob-search-full {
            //     position: relative;

            //     .mob-search {
            //         height: 12px;
            //         width: 100%;
            //         border: none;
            //         background-color: #87b3a4;
            //         color: #fff;
            //         font-size: 18px;
            //         padding: 10px;
            //     }

            //     button {
            //         position: absolute;
            //         top: 0%;
            //         right: -25px;
            //         height: 32px;
            //         width: 20%;
            //         padding: 10px;
            //         background: #87b3a4;
            //         color: #fff;
            //         font-size: 17px;
            //         border: none;
            //         border-left-color: currentcolor;
            //         border-left-style: none;
            //         border-left-width: medium;
            //         border-left: none;
            //         cursor: pointer;
            //     }

            //     .fa.fa-search {}
            // }
        }

        #nav-toggle {
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    .nav {
        height: 3rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
}





@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: #fff;
        width: 85%;
        height: 100vh;
        padding: .75rem;
        z-index: 1000;
        font-weight: 900;
        transition: .5s;
    }
}

@media screen and (min-width: 768px) {
    body {
        margin: 0;
    }

    .nav__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-top: 0;
    }

    .nav__item {
        margin-left: 3rem;
        margin-bottom: 0;
    }

    .nav__toggle {
        display: none;
    }

    .nav__close {
        display: none;
    }

    .nav__link {
        text-transform: initial;
    }
}

.show {
    right: -5%;
}

.hidden {
    right: -100%;
}